# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
.gitignore
# dependencies
/app/src/main/token.js
/app/node_modules
/migrations
/test

token.txt
put-files.js
read.me
truffle-config.js
# testing
/coverage

# production
/build

npm-debug.log*
yarn-debug.log*
yarn-error.log*
